@using Menace.ViewModels

@model GamePlayState

@{
    //
    string GetTileClass(string board, int x, int y)
    {
        var tileValue = GetTileValue(board, x, y);

        return string.IsNullOrWhiteSpace(tileValue) ? "" : $"player{tileValue}";
    }

    // Reading tile value from string
    string GetTileValue(string board, int x, int y)
    {
        return board.Substring(x * 3 + y, 1);
    }
}

@{
    ViewData["Title"] = "PlayView";
}


<h1>Play Game</h1>

<h4>Game</h4>
<hr />

<div class="my-4 w-100 bg-dark text-centre" id="myChart" width="900" height="380">
    <section class="display text-light text-centre">
        Player <span class="display-player @( $"player{Model.CurrentPlayer}" )">@Model.CurrentPlayer</span>'s turn
    </section>
    <br />
    <section class="containerCustom">
        <div class="tile @( GetTileClass(Model.Board, 0, 0 ) )">@GetTileValue(Model.Board, 0, 0)</div>
        <div class="tile @( GetTileClass(Model.Board, 0, 1 ) )">@GetTileValue(Model.Board, 0, 1)</div>
        <div class="tile @( GetTileClass(Model.Board, 0, 2 ) )">@GetTileValue(Model.Board, 0, 2)</div>
        <div class="tile @( GetTileClass(Model.Board, 1, 0 ) )">@GetTileValue(Model.Board, 1, 0)</div>
        <div class="tile @( GetTileClass(Model.Board, 1, 1 ) )">@GetTileValue(Model.Board, 1, 1)</div>
        <div class="tile @( GetTileClass(Model.Board, 1, 2 ) )">@GetTileValue(Model.Board, 1, 2)</div>
        <div class="tile @( GetTileClass(Model.Board, 2, 0 ) )">@GetTileValue(Model.Board, 2, 0)</div>
        <div class="tile @( GetTileClass(Model.Board, 2, 1 ) )">@GetTileValue(Model.Board, 2, 1)</div>
        <div class="tile @( GetTileClass(Model.Board, 2, 2 ) )">@GetTileValue(Model.Board, 2, 2)</div>
    </section>
    <br />
    <section class="display announcer hide text-light text-centre"></section>
    <section class="controls">
        <button id="reset">Reset</button>
    </section>

    <form asp-action="Play" id="submitForm">
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary" id="submitButton" />
        </div>
        <input type="hidden" asp-for="Board" id="hiddenBoardPosition" />
        <input type="hidden" asp-for="CurrentPlayer" id="hiddenCurrentPlayer" />
        <input type="hidden" asp-for="PlayerId1" id="hiddenPlayerId1" />
        <input type="hidden" asp-for="Player1Type" id="hiddenPlayer1Type" />
        <input type="hidden" asp-for="PlayerId2" id="hiddenPlayerId2" />
        <input type="hidden" asp-for="Player2Type" id="hiddenPlayer2Type" />
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/js/NandCApplet.js"></script>
    }
    }
