@using Menace.ViewModels
@using Noughts_and_Crosses
@model IEnumerable<Noughts_and_Crosses.Player>

@{
    ViewData["Title"] = "Players";
}

<h1>Leaderboard</h1>

<p>
    <a class="btn btn-primary" asp-area="" asp-controller="BuildMenace" asp-action="BuildSetup">Create your own MENACE!</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Type
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wins)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Draws)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Losses)
            </th>
            <th>
                @Html.DisplayNameFor(model => (model as PlayerMenace).MenaceEngine.Matchboxes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @PlayerHelper.GetPlayerType(item)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Wins)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Draws)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Losses)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => (item as PlayerMenace).MenaceEngine.Matchboxes.Count)
                </td>
                <td>
                    @{
                        if (item.Name != "Player Human")
                        {
                            <a href="#" onclick="location.href='@( Url.Action("Build", "BuildMenace",
                                    new GameCreate { Type = GameType.MenaceP1, Player1Id = item.Id, Player2Id = Model.Single(p => p.Name == "Player Human").Id} ) )'">Play</a>
                                    <a> | </a>
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
